
  <header>
  <div id="logoDiv">
    <div class="row" id="noBottomMargin">
      <div class="col s12" id="noPadding1">
        <div class="col s1 left-align bottom-align" id="noPadding2">
          <img src="assets/images/JanMichael.png" class="logophoto hide-on-small-only"></img>
        </div>
        <div class="col center-align s10">
          <img src="assets/images/speakitlogo.png" class="logophoto2"></img>
        </div>
        <div class="col s1 right-align" id="noPadding3">
          <img src="assets/images/Anya.png" class="logophoto hide-on-small-only"></img>
        </div>   
      </div>
    </div>
  </div>
    <nav>
      <div class="nav-wrapper sidenav-trigger grey darken-1">
        <a class="brand-logo center" href="#!"></a>
        <ul class="left sidenav">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/profile">Profile</a>
          </li>
        </ul>
     
      </div>
    </nav>
  </header>
  <div class="container" id="profileContent">  
    <div class="row">
      <div class="col s12 center">
        <img id="profileflagimage" class="circle proPic left-align">
        <h3 id="addFont" class="addFont">{{users.username}}</h3>
      </div>
      <div class="col s12 center">
        {{!-- This is the backup code that has an input field and a button to search for the language; because the drop down is now working we should be good! --}}
        {{!-- <input id="languagechoice" type="text" class="validate">
         <button type="button" id="languagebtn" href="language">Select Language</button> --}}
        <ul id = "dropdown" class = "pink accent-3 dropdown-content">
          <li id="lang" class="dropdownvalue" value="English">English</li>
          <li id="lang" class="dropdownvalue" value="German">German</li>
          <li id="lang" class="dropdownvalue" value="Spanish">Spanish</li>
          
          {{!-- Attempted to include value + href, didn't work
          <li value = "English"><a href = "/language">English</a></li>
          <li value = "German"><a href="/language">German</a></li>
          <li value = "Spanish"><a href="/language">Spanish</a></li> --}}

          {{!-- Original code with href
          <li><a href = "/language">English</li>
          <li><a href = "/language">German</li>
          <li><a href = "/language">Spanish</a></li> --}}

        </ul>
        <a class = "btn dropdown-button pink accent-3" href = "#" data-activates = "dropdown" id="languagechoice">Search For Friends</a>
      </div>
      <div class="col s12 m5 l4 addTopMargin" id="aboutMeDiv">
        <div class="row center">
          <h5>About Me</h5>
        </div>
        <p class="flow-text">Language: {{users.language}}</p>
        <p class="flow-text">Gender: {{users.gender}}</p>
        <p class="flow-text">Age: {{users.age}}</p>
        <p class="flow-text">About me: {{users.about}}</p>
      </div>
      <div class="col s12 m5 l4 offset-l4 offset-m2 addTopMargin" id="aboutMeDiv">
        <div class="row center">
          <h5>My Friends</h5>
        </div>
        <ul>
          {{!-- This returns the username of each user that the logged in user is connected with --}}
          {{#each friends}}
          <li>
            <a href="/chat">chat</a> with {{requestee}}
            {{!-- Commenting this out because we're not returning any information beyond the connected user's username --}}
            {{!-- <img class="circle" width="50px" src="assets/images/flag-of-Ukraine.png"> --}}
          </li>
          {{!-- <li>
            <a href="/chat">chat</a> with Jan-Michael
            <img class="circle" width="50px" src="assets/images/flag-of-United-States-of-America.png">
          </li> --}}
          {{/each}}
        </ul>
      </div>

    </div>
    </div>
       <div class="section">
      <div class="container flow-text proCard light white-text center-align grey darken-1 z-depth-4">
        <!--profile area-->
        <main>
          <div class="row">
            <div class="col m10 offset-1" style="width:100% ">
              <br>
              <img class="circle proPic left-align" src="assets/images/flag-of-France.png">
              <h3 id="addFont" class="addFont">John Doe</h3>
              <br>
              <br>
              <h5>Language</h5>
              <p class="flow-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde odit aperiam tempora quae saepe dolorum ratione vero minima eos culpa, est maiores, eum laudantium quam? Beatae voluptates nemo repudiandae, enim.</p>
              <h5>My Story</h5>
              <p class="flow-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus veniam, corporis dicta ipsam vitae dolorem excepturi dolorum sunt unde maiores, qui cumque, culpa obcaecati non ab. Saepe perferendis totam facilis!</p>
              <h5>My Friends</h5>
              <ul class="flow-text">
                <li>Anya</li>
                <li>Johnny</li>
                <li>Mariea</li>
              </ul>
<!--search button-->
              
            </div>
          </div>
        </main>



        
       


         <input id="languagechoice" type="text" class="validate">
         <button type="button" id="languagebtn" href="language">Select Language</button>

        
      </div>
    </div>
  </div>

  <!--This is a footer ;)-->
  <footer class="page-footer grey darken-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class=" footerText white-text">This Page Was Created By:</h5>
                
                 <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/hanna-kilpatrick-5a6b7914b/">Anya Kilpatrick</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/johnny-heath/">Johnny Heath</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/marieajohnson/">Mariea Johnson</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/janmichaeledwards/">Jan-Michael Edwards</a></li>
                
                </ul>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class=" footerText white-text">Connect With Us</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/hanna-kilpatrick-5a6b7914b/">LinkedIn</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/johnny-heath/">LinkedIn</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/marieajohnson/">LinkedIn</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/janmichaeledwards/">LinkedIn</a></li>
                
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright Text
            </div>
          </div>
        </footer>    

  <script>$('#dropdown-button').dropdown();</script>